@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    padding: 3% 0% 3% 0%;
    background: #004060;
    text-align: center;
    color: white;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0%;
    margin: 0%;
}
li{
    width: auto;
    list-style: none;
    padding: 0% 1% 0% 1%;
    border-left: 1px solid white;
}
li:first-child{
    border-left: none;
}
li a{
    color: white;
    text-decoration: none;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.GeneralBox{
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-logo{
    width: 50%;
}
.img-article{
    width: 100%;
}
.img-container{
    width: 100%;
    text-align: center;
}
h3{font-size: 20pt;}
h4{
    font-size: 20pt;
    margin-bottom: 0%;
}
.text{
    font-size: 16pt;
}
footer{
    background: #004060;
    padding: 1% 0% 1% 0%;
    text-align: center;
    color: white;
}
h6{
    font-size: 16pt;
}
table{
    width: 100%;
}
.img-table{
    width: 30%;
    vertical-align: top;
}
.img-table img{
    margin-right: 30px;
}
.text-table{
    width: 70%;
}
.title{
    font-weight: 700;
    font-size: 17pt;
}
.marginTop{
    margin-top: 4%;
}
.container-colors{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.boxColor{
    width: 100px;
    height: 100px;
    border: 1px solid #323232;
    margin: 15px;
}
#one{
    background: #ff6300;
}
#two{
    background: #0069aa;
}
#three{
    background: #e0bb04;
}
#four{
    background: #e57369;
}
#five{
    background: #004060;
}
#six{
    background: #323232;
}
.container-type{
    display: flex;
    width: 100%;
}
.col-30{
    width: 50%;
}
.col-70{
    width: 50%;
}
.titlefont{
    font-weight: 700;
    font-size: 22pt;
}
.textfont{
    font-weight: 400;
    font-size: 16pt;
}
.links{
    font-weight: 400;
    font-style: italic;

}
.img-total{
    width: 100%;
}
#menu-icon{
    display: none;
}
#menu{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0%;
    margin: 0%;
}
@media only screen and (max-width: 899px) {
    .GeneralBox{
        width: 100%;
        padding: 4%;
    }
    #menu{
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        color: white;
        padding: 0%;
        margin: 0%;
    }
  }
  @media only screen and (max-width: 626px) {
    nav ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        padding: 0%;
        margin: 0%;
    }
    li{
        width: 100%;
        list-style: none;
        padding: 2% 1% 2% 1%;
        border-left: none;
    }
    .img-table{
        display: none;

    }
    #menu-icon{display:block;}
    #menu{
        display: none;
    }

  }