@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
header{
    width: 100%;
    background: #004060;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0% 1% 0%;
}
nav{
    margin-top: -2%;
    width: 100%;
}
nav ul{
    display: flex;
    margin: 1% 0% 1% 0%;
    padding: 0%;
    justify-content: center;
    list-style: none;
}
li{
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
}
li:hover{
    background: #0069aa;
    padding: 0% 1% 0% 1%;

    /* Border Radius */
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
#menu-icon{
    display:none;
}
.container-logo{
    width: 100%;
    text-align: center;
}
.container-logo img{
    width: 20%;
}

/* Footer */

footer{
    background: #004060;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}
.container-footer{
    text-align: center;
}
.footerText{
    font-size: 14pt;
    color: white;
}